/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * letsgotojapan implementation : © <Mathieu Chatrain> <mathieu.chatrain@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * letsgotojapan.css
 *
 * letsgotojapan stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (letsgotojapan_letsgotojapan.tpl), and to HTML elements you create dynamically
    (in letsgotojapan.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


#global {
    width: 100%;
    height: 1460px;
    margin-top: 10px;

}

#mask_turn {
    position: absolute;
    top: -10px;
    right: 115px;
    width: 100px;
    height: 50px;
    background-image: url('img/icon_mask_turn.png');
    background-size: 100% 100%;
    cursor: pointer;
    pointer-events: auto !important;
    z-index: 10;
      

}

#mask_turn:hover {
    position: absolute;
    top: -10px;
    right: 115px;
    width: 100px;
    height: 50px;
    background-image: url('img/icon_mask_turn_h.png');
    background-size: 100% 100%;
    cursor: pointer;
    pointer-events: auto !important;
    z-index: 10;
    

}


#mask_hand {
    position: absolute;
    top: -10px;
    right: 10px;
    width: 100px;
    height: 50px;
    background-image: url('img/icon_mask_hand.png');
    background-size: 100% 100%;
    cursor: pointer;
    pointer-events: auto !important;
    z-index: 10;
    

}

#mask_hand:hover {
    position: absolute;
    top: -10px;
    right: 10px;
    width: 100px;
    height: 50px;
    background-image: url('img/icon_mask_hand_h.png');
    background-size: 100% 100%;
    cursor: pointer;
    pointer-events: auto !important;
    z-index: 10;
    

}


#titre {
    width: 200px;
    height: 80px;
    background-image: url('img/titre.png');
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    
 }

.eye {
    width: 25px;
    height: 25px;
    position: relative;
    background-image: url('img/eye30gray.png');
    background-size: 100% 100%;
    top: 5px;
    cursor: pointer;
    pointer-events: auto !important;
           
 }
 
 .eye:hover {
    width: 25px;
    height: 25px;
    position: relative;
    background-image: url('img/eye30.png');
    background-size: 100% 100%;
    top: 5px;
    cursor: pointer;
    pointer-events: auto !important;
        
 }

 

.turn_board {
   
    background-image: url('img/turn_board.jpg');
    background-size: 100% 100%;
    position: absolute;
    width: 750px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    /*margin-top: 10px;*/
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    left: 50%;
    transform: translateX(-50%);
}

.turnboard_marqueur {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: absolute;
}

.turn {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    box-sizing: border-box;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
}

.playerview {
    width: 1200px;
    height: 500px;
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;

}

.nameplayer{
    width: 600px;
    height: 20px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    
   
  }

.playerhandtitle {
    width: 600px;
    height: 20px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-right: auto;
    margin-left: auto;*/
    font-weight: bold;
    /*margin-top: 10px;
    margin-bottom: 10px;*/
    left: 50%;
    transform: translateX(-50%);
    top: 162px;
   
}

.playerhand {

    width: 1200px;
    height: 260px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-right: auto;
    margin-left: auto;*/
    gap :10px;
    left: 50%;
    transform: translateX(-50%);
    top: 190px;
    

}

.playerboard {
       
    background-image: url('img/players_board.jpg');
    background-size: 100% 500%;
    
    position: absolute;
    width: 1200px;
    height: 386px;
    z-index: 1;
    top: 30px;
    left: 0;
    /*filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));*/
    
}

.tokenjourposition {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    
}

.tokenjour {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-image: url('img/tokenjour.png');
    background-size: 600% 100%;

}



.bonusjournee {
  position: absolute;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  
  
}

.bonusjournee1 {
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  
  
}


.bonusjournee2 {
    position: absolute;
    width: 96px;
    height: 39px;
   
    
    
}



.smileposition {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    
    
}

.smile {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid black;
    box-sizing: border-box;   
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5)); 
}

.happy {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-image: url('img/smile.png');
    background-size: 200% 100%;
    background-position-x: 0%;
    border: 1px solid black;
    box-sizing: border-box; 
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));  
    
}

.angry {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: black;
    background-image: url('img/smile.png');
    background-size: 200% 100%;
    background-position-x: -100%;
    border: 1px solid black;
    box-sizing: border-box;   
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    
}

.masque{

    visibility: hidden;
   }

.hidden{

display: none;
}

.color_3c84b5 {
    background-position-y: 0%;
}

.color_7aa878 {
    background-position-y: -100%;
}

.color_ac5c45 {
    background-position-y: -200%;
}

.color_665799 {
    background-position-y: -300%;
}

.color_f285a1 {
  background-position-y: -400%;
}



.selectable.card {
    
    border: 2px solid rgb(0, 26, 255);
    cursor: pointer;
    
    
}

.selectable2.card {
    
    border: 2px solid rgb(255, 0, 0);
    cursor: pointer;
    
    
}

.selectableswitch.card {
    
 
  cursor: pointer;
  
  
}

.selected.card {
    border: 2px solid rgb(255, 0, 0);
    
   
}

.selected2.card {
    border: 2px solid rgb(0, 26, 255);
    
   
}

.selected3.card {

    animation: clignotement 2s linear infinite;
  
  }

  .selected3.cardverso {

    animation: clignotement 2s linear infinite;
  
  }

@keyframes clignotement {
    0% {
        filter: brightness(40%);
    }
    50% {
        filter: brightness(100%);
    }
    100% {
        filter: brightness(40%);
    }
  }


.selectable.bonusjournee {
    background-color:  rgba(255, 0, 0, 0.6);
    border: 1px solid rgba(255, 0, 0, 0.5);
    cursor: pointer;
    
    
}

.selectable.bonusjournee2 {
    background-color:  rgba(255, 0, 0, 0.4);
    border: 1px solid rgba(255, 0, 0, 0.5);
    cursor: pointer;
    
    
}



.selectable.cardposition {
    border: none !important;
    background-color:  rgba(255, 0, 0, 0.6);
    cursor: pointer;
    z-index: 10 !important;
    
}



/* SWITCH PLAYER */

.left {
    
    cursor: pointer;
    pointer-events: auto !important;
    font-weight: normal;
  }

  .right {
    
    cursor: pointer;
    pointer-events: auto !important;
    font-weight: normal;
  }

  .left:hover {
    
   font-weight: bold;
   
 }

 .right:hover {
   
   
   font-weight: bold;
   
   
 }

 /* CARD */

 .card {
    
    background-size: 1000% 400%;
    height: 257px;
    width: 150px;
    border-radius: 8px;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.3);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    box-sizing: border-box;
    
    

    
 }

 .playerhand .card {

    position: relative !important;
 }

 .cardposition {
    height: 257px;
    width: 150px;
    position: absolute;
    border-radius: 8px;
    z-index: 1;
    

 }

 .cardverso {
    
    background-size: 200% 100%;
    height: 257px;
    width: 150px;
    border-radius: 8px;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.3);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    box-sizing: border-box;
    

    
 }

 .cardtokyodiscard {
    
    
    background-image: url('img/card_verso.png');
    background-size: 200% 100%;
    background-position-x: -100%;
    height: 121px;
    width: 71px;
    border-radius: 8px;
    position: absolute;
    
 
    
 }

 .cardkyotodiscard {
    
    
    background-image: url('img/card_verso.png');
    background-size: 200% 100%;
    background-position-x: 0%;
    height: 121px;
    width: 71px;
    border-radius: 8px;
    position: absolute;
    
 
    
 }

 .compteurdiscard {
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
 }

 /* ICON PANNEL */


 .iconrecherche{
    width: 30px;
    height: 30px;
    background-image: url('img/icon_pannel.png');
    background-size: 300% 100%;
    background-position-x: 0%;
    margin-left: 2px;
    margin-right: 2px;
    filter: drop-shadow(1px 1px 2px black);
    -webkit-filter: drop-shadow(1px 1px 2px black);
  }

  .icontrain{
    width: 40px;
    height: 46px;
    background-image: url('img/icon_pannel.png');
    background-size: 300% 100%;
    background-position-x: -100%;
    margin-left: 2px;
    margin-right: 2px;
    filter: drop-shadow(1px 1px 2px black);
    -webkit-filter: drop-shadow(1px 1px 2px black);
  }

  .iconwild{
    width: 30px;
    height: 30px;
    background-image: url('img/icon_pannel.png');
    background-size: 300% 100%;
    background-position-x: -200%;
    margin-left: 2px;
    margin-right: 2px;
    filter: drop-shadow(1px 1px 2px black);
    -webkit-filter: drop-shadow(1px 1px 2px black);
  }

/* boutons */

.iconrecherche{
    width: 30px;
    height: 30px;
    display:inline-block;
    vertical-align: middle;
    background-image: url('img/icon_pannel.png');
    background-size: 300% 100%;
    background-position-x: 0%;
    
  
  }

  .iconwalk{
    width: 30px;
    height: 30px;
    display:inline-block;
    vertical-align: middle;
    background-image: url('img/walk.png');
    background-size: 100% 100%;
   
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
     -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  
  }

  .boutontokyo {
    background-color: rgb(0, 195, 255);
    color: white;
    border-radius: 6px;
    border: 1px solid black;
    padding: 0px 12px;
    box-shadow: 0 1px 0 #0000007e;
    /*filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
     -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));*/
     font-size: 14px;
     height: 31px;
     box-sizing: border-box;
    
  
  }

  .boutonkyoto {
    background-color: rgb(240, 146, 212);
    color: white;
    border-radius: 6px;
    border: 1px solid black;
    padding: 0px 12px;
    box-shadow: 0 1px 0 #0000007e;
    /*filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
     -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));*/
     font-size: 14px;
     height: 31px;
     box-sizing: border-box;
     
     
     
  
  }

 .action-button {
    text-decoration: none !important;
 }

 /* ICONS LOGS */

 .logsmile{
    width: 20px;
    height: 20px;
    background-image: url('img/logtoken.png');
    background-size: 400% 100%;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 3px;
    filter: drop-shadow(1px 1px 2px black);
    -webkit-filter: drop-shadow(1px 1px 2px black);
    background-position-x: 0%;
      
  }

  .logrecherche{
    width: 20px;
    height: 20px;
    background-image: url('img/logtoken.png');
    background-size: 400% 100%;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 3px;
    filter: drop-shadow(1px 1px 2px black);
    -webkit-filter: drop-shadow(1px 1px 2px black);
    background-position-x: -100%;
      
  }

  .logwild{
    width: 20px;
    height: 20px;
    background-image: url('img/logtoken.png');
    background-size: 400% 100%;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 3px;
    filter: drop-shadow(1px 1px 2px black);
    -webkit-filter: drop-shadow(1px 1px 2px black);
    background-position-x: -200%;
      
  }

  .logwalk{
    width: 20px;
    height: 20px;
    background-image: url('img/logtoken.png');
    background-size: 400% 100%;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 3px;
    filter: drop-shadow(1px 1px 2px black);
    -webkit-filter: drop-shadow(1px 1px 2px black);
    background-position-x: -300%;
      
  }

  .logtrainstart{
    width: 32px;
    height: 20px;
    background-image: url('img/logtrain.png');
    background-size: 300% 100%;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 3px;
    filter: drop-shadow(1px 1px 2px black);
    -webkit-filter: drop-shadow(1px 1px 2px black);
    background-position-x: 0%;
      
  }

  .logtrainbonus{
    width: 32px;
    height: 20px;
    background-image: url('img/logtrain.png');
    background-size: 300% 100%;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 3px;
    filter: drop-shadow(1px 1px 2px black);
    -webkit-filter: drop-shadow(1px 1px 2px black);
    background-position-x: -100%;
      
  }

  .logtrainmalus{
    width: 32px;
    height: 20px;
    background-image: url('img/logtrain.png');
    background-size: 300% 100%;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 3px;
    filter: drop-shadow(1px 1px 2px black);
    -webkit-filter: drop-shadow(1px 1px 2px black);
    background-position-x: -200%;
      
  }

  .logpv{
    width: 20px;
    height: 20px;
    background-image: url('img/logpv.png');
    background-size: 100% 100%;
    display: inline-block;
    margin-top: 3px;
    filter: drop-shadow(1px 1px 2px black);
    -webkit-filter: drop-shadow(1px 1px 2px black);
    
      
  }




  .finaltokyo{
    width: 20px;
    height: 20px;
    top: 27px;
    left: -30px;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(0, 195, 255);
    color: white;
    border: 1px solid white;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
  }

  .finalkyoto{
    width: 20px;
    height: 20px;
    top: 27px;
    left: -30px;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(240, 146, 212);
    color: white;
    border: 1px solid white;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
  }



  .cardtokyoversobouton{
    background-image: url('img/card_verso.png');
    background-size: 200% 100%;
    background-position-x: -100%;
    /*height: 121px;
    width: 71px;*/
    height: 257px;
    width: 150px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    box-sizing: border-box;
    
  }

  .cardkyotoversobouton{
    background-image: url('img/card_verso.png');
    background-size: 200% 100%;
    background-position-x: 0%;
    /*height: 121px;
    width: 71px;*/
    height: 257px;
    width: 150px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    box-sizing: border-box;
    
  }

  .cardbouton {
    
    background-size: 1000% 400%;
    /*height: 121px;
    width: 71px;*/
    height: 257px;
    width: 150px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    box-sizing: border-box;
    
    
    
       
 }

 .finalwalk{
  width: 20px;
  height: 20px;
  top: 2px;
  left: -30px;
  position: absolute;
  background-image: url('img/walk.png');
  background-size: 100% 100%;
  
  

}

.train_1
{
  background-image: url('img/logtrain.png');
  background-size: 300% 100%;
  background-position-x: 0%;
  width: 48px;
  height: 30px;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;


}

.train_2
{
  background-image: url('img/logtrain.png');
  background-size: 300% 100%;
  background-position-x: -100%;
  width: 48px;
  height: 30px;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  

}

.train_3
{
  background-image: url('img/logtrain.png');
  background-size: 300% 100%;
  background-position-x: -200%;
  width: 48px;
  height: 30px;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  

}

.boutontrain_1
{
  background-image: url('img/logtrain.png');
  background-size: 300% 100%;
  background-position-x: 0%;
  width: 48px;
  height: 30px;
  display:inline-block;
  vertical-align: middle;
  


}

.boutontrain_2
{
  background-image: url('img/logtrain.png');
  background-size: 300% 100%;
  background-position-x: -100%;
  width: 48px;
  height: 30px;
  display:inline-block;
  vertical-align: middle;
 
  

}

.boutontrain_3
{
  background-image: url('img/logtrain.png');
  background-size: 300% 100%;
  background-position-x: -200%;
  width: 48px;
  height: 30px;
  display:inline-block;
  vertical-align: middle;
  
  

}

.marqueurposition {
  width: 45px;
  height: 45px;
  position: absolute;
  border-radius: 50%;
  
}

.marqueur {
  width: 45px;
  height: 45px;
  background-image: url('img/tokenjour.png');
  background-size: 600% 100%;
  position: absolute;
  border-radius: 50%;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  color: rgb(255, 255, 255);
  text-shadow: 
        2px 2px 0px black, /* Ombre vers le bas à droite */
        -2px -2px 0px black, /* Ombre vers le haut à gauche */
        -2px 2px 0px black, /* Ombre vers le bas à gauche */
        2px -2px 0px black; /* Ombre vers le haut à droite */
}

.wild{
  width: 30px;
  height: 30px;
  display:inline-block;
  vertical-align: middle;
  background-image: url('img/logtoken.png');
  background-size: 400% 100%;
  background-position-x: -200%;
  filter: drop-shadow(1px 1px 2px black);
  -webkit-filter: drop-shadow(1px 1px 2px black);
    
}

.scorepad{
  width: 400px;
  height: 467px;
  filter: drop-shadow(1px 1px 2px black);
  -webkit-filter: drop-shadow(1px 1px 2px black);
  position: relative;
  background-image: url('img/scorepad.jpg');
  margin-left: auto;
  margin-right: auto;
}

.red{
  width: 30px;
  height: 30px;
  display:inline-block;
  vertical-align: middle;
  background-image: url('img/tokenjour.png');
  background-size: 600% 100%;
  background-position-x: 0%;
  filter: drop-shadow(1px 1px 2px black);
  -webkit-filter: drop-shadow(1px 1px 2px black);
    
}

.green{
  width: 30px;
  height: 30px;
  display:inline-block;
  vertical-align: middle;
  background-image: url('img/tokenjour.png');
  background-size: 600% 100%;
  background-position-x: -100%;
  filter: drop-shadow(1px 1px 2px black);
  -webkit-filter: drop-shadow(1px 1px 2px black);
    
}

.pink{
  width: 30px;
  height: 30px;
  display:inline-block;
  vertical-align: middle;
  background-image: url('img/tokenjour.png');
  background-size: 600% 100%;
  background-position-x: -200%;
  filter: drop-shadow(1px 1px 2px black);
  -webkit-filter: drop-shadow(1px 1px 2px black);
    
}

.yellow{
  width: 30px;
  height: 30px;
  display:inline-block;
  vertical-align: middle;
  background-image: url('img/tokenjour.png');
  background-size: 600% 100%;
  background-position-x: -300%;
  filter: drop-shadow(1px 1px 2px black);
  -webkit-filter: drop-shadow(1px 1px 2px black);
    
}

.blue{
  width: 30px;
  height: 30px;
  display:inline-block;
  vertical-align: middle;
  background-image: url('img/tokenjour.png');
  background-size: 600% 100%;
  background-position-x: -400%;
  filter: drop-shadow(1px 1px 2px black);
  -webkit-filter: drop-shadow(1px 1px 2px black);
    
}

.scorename{
  width: 58px;
  height: 42px;
  position: absolute;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.score{
  width: 58px;
  height: 36px;
  position: absolute;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}


.check_1
{
  background-image: url('img/check.png');
  background-size: 200% 100%;
  background-position-x: 0%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
 


}

.check_2
{
  background-image: url('img/check.png');
  background-size: 200% 100%;
  background-position-x: -100%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;


}

.animate{
  
  animation: animescale 0.2s linear forwards;
    
    
}

@keyframes animescale {
  0% {
    transform: scale(3) rotate(-45deg);
    

  }
 
  100% {
    transform: scale(1) rotate(0);
    left: 50%;
  transform: translateX(-50%);
    
  }
}


.toolt
{
 	display: flex;
  	align-items: center;
	justify-content:center;	
	flex-direction: column;
	gap: 10px;
    
    
}

.cardtoolt {
    
  width: 200px;
  height: auto;
  outline: 2px solid #000000;	
  border-radius: 8px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.infotoolt {
    
  width: 150px;
  height: auto;
  outline: 2px solid #000000;	
  border-radius: 8px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.tokyo1tool {
  width: 200px;
  height: 343px;
  background-image: url('img/tokyo1.jpg');
  background-size: 1000% 400%;
  border-radius: 8px;
  position: relative;
  /*border: 1px solid rgba(0, 0, 0, 0.3);*/
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
  box-sizing: border-box;

}

.tokyo2tool {
  width: 200px;
  height: 343px;
  background-image: url('img/tokyo2.jpg');
  background-size: 1000% 400%;
  border-radius: 8px;
  position: relative;
  /*border: 1px solid rgba(0, 0, 0, 0.3);*/
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
  box-sizing: border-box;
  
}

.kyoto1tool {
  width: 200px;
  height: 343px;
  position: relative;
  background-image: url('img/kyoto1.jpg');
  filter: drop-shadow(1px 1px 2px black);
  -webkit-filter: drop-shadow(1px 1px 2px black);
  background-size: 1000% 400%;
  
}

.kyoto2tool {
  width: 200px;;
  height: 343px;
  position: relative;
  background-image: url('img/kyoto2.jpg');
  filter: drop-shadow(1px 1px 2px black);
  -webkit-filter: drop-shadow(1px 1px 2px black);
  background-size: 1000% 400%;
  
}

.tokyowalktool {
  width: 200px;;
  height: 343px;
  position: relative;
  background-image: url('img/card_verso.png');
  filter: drop-shadow(1px 1px 2px black);
  -webkit-filter: drop-shadow(1px 1px 2px black);
  background-size: 200% 100%;
  background-position-x: -100%;
  
}

.kyotowalktool {
  width: 200px;;
  height: 343px;
  position: relative;
  background-image: url('img/card_verso.png');
  filter: drop-shadow(1px 1px 2px black);
  -webkit-filter: drop-shadow(1px 1px 2px black);
  background-size: 200% 100%;
  background-position-x: 0%;
  
}

.infotexttoolt {
    
  color: rgb(0, 0, 0);
  
}


.noanimation {

  animation: none !important;
  border: 2px solid red !important;
}