/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * letsgotojapan implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * letsgotojapan.css
 *
 * letsgotojapan stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (letsgotojapan_letsgotojapan.tpl), and to HTML elements you create dynamically
    (in letsgotojapan.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


#global {
    width: 100%;
    height: 1460px;
    margin-top: 10px;

}

#mask_turn {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 100px;
    height: 50px;
    background-image: url('img/icon_mask_turn.png');
    background-size: 100% 100%;
    cursor: pointer;
    pointer-events: auto !important;
      

}

#mask_turn:hover {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 100px;
    height: 50px;
    background-image: url('img/icon_mask_turn_h.png');
    background-size: 100% 100%;
    cursor: pointer;
    pointer-events: auto !important;
    

}


#mask_hand {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 100px;
    height: 50px;
    background-image: url('img/icon_mask_hand.png');
    background-size: 100% 100%;
    cursor: pointer;
    pointer-events: auto !important;
    

}

#mask_hand:hover {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 100px;
    height: 50px;
    background-image: url('img/icon_mask_hand_h.png');
    background-size: 100% 100%;
    cursor: pointer;
    pointer-events: auto !important;
    

}


#titre {
    width: 200px;
    height: 80px;
    background-image: url('img/titre.png');
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    
 }

.eye {
    width: 25px;
    height: 25px;
    position: relative;
    background-image: url('img/eye30gray.png');
    background-size: 100% 100%;
    top: 5px;
    cursor: pointer;
    pointer-events: auto !important;
           
 }
 
 .eye:hover {
    width: 25px;
    height: 25px;
    position: relative;
    background-image: url('img/eye30.png');
    background-size: 100% 100%;
    top: 5px;
    cursor: pointer;
    pointer-events: auto !important;
        
 }

 

.turn_board {
   
    background-image: url('img/turn_board.jpg');
    background-size: 100% 100%;
    position: relative;
    width: 750px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
}

.turnboard_marqueur {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: absolute;
}

.turn {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(173, 172, 172);
    border: 1px solid black;
    box-sizing: border-box;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
}

.playerview {
    width: 1200px;
    height: 500px;
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;

}

.nameplayer{
    width: 1200px;
    height: 20px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

.playerhandtitle {
    width: 600px;
    height: 20px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
   
}

.playerhand {

    width: 1200px;
    height: 260px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    gap :10px;
    

}

.playerboard {
       
    background-image: url('img/players_board.jpg');
    background-size: 100% 400%;
    
    position: absolute;
    width: 1200px;
    height: 386px;
    z-index: 1;
    top: 30px;
    left: 0;
    /*filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));*/
    
}

.tokenjourposition {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    
}

.tokenjour {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-image: url('img/tokenjour.png');
    background-size: 600% 100%;

}

.smileposition {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    
    
}

.smile {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: black;
    
}

.happy {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: black;
    
}

.angry {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: black;
    
}

.masque{

    visibility: hidden;
   }

.hidden{

display: none;
}

.color_3c84b5 {
    background-position-y: 0%;
}

.color_7aa878 {
    background-position-y: -100%;
}

.color_ac5c45 {
    background-position-y: -200%;
}

.color_665799 {
    background-position-y: -300%;
}



.selectable.card {
    border: 2px solid rgb(255, 0, 0);
    cursor: pointer;
    
    
}

.selected.card {
    border: 2px solid rgb(0, 26, 255);
    
   
}

.selectable.cardposition {
    border: none !important;
    background-color:  rgba(255, 0, 0, 0.6);
    cursor: pointer;
    z-index: 10 !important;
    
}


/* SWITCH PLAYER */

.left {
    
    cursor: pointer;
    pointer-events: auto !important;
    font-weight: normal;
  }

  .right {
    
    cursor: pointer;
    pointer-events: auto !important;
    font-weight: normal;
  }

  .left:hover {
    
   font-weight: bold;
   
 }

 .right:hover {
   
   
   font-weight: bold;
   
   
 }

 /* CARD */

 .card {
    
    background-size: 1000% 400%;
    height: 257px;
    width: 150px;
    border-radius: 8px;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.3);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    box-sizing: border-box;
    

    
 }

 .playerhand .card {

    position: relative !important;
 }

 .cardposition {
    height: 257px;
    width: 150px;
    position: absolute;
    border-radius: 8px;
    z-index: 1;
    

 }

